---
// นี่คือส่วน Script ของ Astro
// เราจะ import CSS ของ Tailwind ที่นี่
import '../styles/global.css'; 

// รับ "title" (ชื่อเว็บ) มาจากหน้าอื่นได้
export interface Props {
    title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth"> <head>
        <meta charset="UTF-8" />
        <meta name="description" content="My Portfolio" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{title}</title>

        </head>
    <body class="bg-gray-900 text-gray-100"> <slot /> 

    </body>
</html>